<footer class="cn-sidebar-bottom cn-sidebar-wrapper text-sm">
  <div>
    &copy; {{ helpers.currentYear() }} • Made by
    <a href="https://zander.wtf">Zander</a> • <a href="/colophon">Colophon</a> •
    <a href="{{ '/feed.xml' | url }}">RSS</a>
  </div>
</footer>
