<footer class="cn-sidebar-bottom cn-sidebar-wrapper text-sm">
  <div>
    Made by <a href="https://zander.wtf">Zander</a> •
    <a href="/colophon">Colophon</a>
  </div>

  <div class="mt-2">
    &copy; {{ helpers.currentYear() }} - {{ site.meta.title }}
  </div>
</footer>
