<div>
  {% for note in searchResults %}
  <a href="{{ note.url | url }}" class="noteListItem">
    <div class="noteListItem-title flex gap-3 items-center">
      {% if note.emoji %}<span>{{ note.emoji }}</span
      >{% endif %}
      {{ note.title }}
    </div>
    <div class="flex gap-2 items-center">
      {% if note.tags.length %}
      <div class="noteListItem-tags">
        {% for tag in note.tags %} {% tagDisplay tag %} {% endfor %}
      </div>
      {% endif %} {% if note.date %}
      <div class="noteListItem-date">
        {{ note.date | dateFromISO | readableDate }}
      </div>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>
