<div class="card-grid">
  {% for note in notes %}
  <a href="{{ note.url | url }}" class="noteListItem">
    <h3 class="noteListItem__title flex gap-2 items-center">
      {{ note.data.emoji }}
      {{ note.data.title }}
    </h3>
    <div class="flex gap-2 items-center">
      <div class="noteListItem__tags">
        {% for tag in note.data.tags %} {% tagDisplay tag %} {% endfor %}
      </div>
      <div class="noteListItem__date">
        {%if note.data.modified %}
        {{ note.data.modified | readableDate }}
        {% else %}
        {{ note.data.created | readableDate }}
        {% endif %}
      </div>
    </div>
  </a>
  {% endfor %}
</div>
