<aside class="cn-sidebar">
  <div class="cn-sidebar-contentWrapper">
    <div class="cn-sidebar-top">
      <a class="navbar__logo" href="{{ '/' | url }}">{{ site.meta.title }}</a>
      <a class="cn-sidebar-link" href="{{ '/' | url }}">All notes</a>
      <nav>
        TAGS
        <ul class="cn-sidebar-list">
          {% for tag in collections.tagList %}
          <li class="cn-sidebar-list-item">
            <a
              class="cn-sidebar-link"
              href="{{ '/tags/' | url }}{{ tag.path | slug }}"
            >
              <span style="background-color: {{ tag.color }}"></span>
              {{ tag.name }} ({{ tag.count }})
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="cn-sidebar-bottom">
      Bottom
      <!-- <a class="dark-toggle" href="javascript:void(0)">
        <img src="{{ '/static/img/moon.svg' | url }}" alt="Toggle dark mode" />
      </a> -->
    </div>
  </div>
</aside>
