<aside class="cn-sidebar">
  <div class="cn-sidebar-contentWrapper">
    <div class="cn-sidebar-top">
      <div class="cn-sidebar-wrapper prose prose-zinc dark:prose-invert">
        <h1 class="cn-logo">
          <a href="{{ '/' | url }}">
            {{ site.meta.title }}
          </a>
        </h1>
        {% if site.meta.description %}
        <div class="cn-siteDescription">
          {{ site.meta.description }}
        </div>
        {% endif %}
      </div>
      <nav>
        <a class="cn-sidebar-link uppercase" href="{{ '/' | url }}">
          {% heroicon "outline", "collection", "All tags", { width: 20 } %} All
          notes
        </a>
        <div class="cn-sidebar-wrapper uppercase flex gap-2 items-center pb-0">
          {% heroicon "outline", "tag", "Tags", { width: 20 } %} Tags
        </div>
        {% for tag in collections.tagList %} {% if tag.name !== "untagged" %}
        <a
          class="cn-sidebar-link {{ 'active' if tag.path | slugify in page.url }}"
          href="{{ '/tags/' | url }}{{ tag.path | slugify }}"
        >
          {% tagDot tag.name %}
          {{ tag.name }} ({{ tag.count }})
        </a>
        {% endif %} {% endfor %} {% for tag in collections.tagList %} {% if
        tag.name === "untagged" %}
        <a
          class="cn-sidebar-link {{ 'active' if tag.path | slugify in page.url }}"
          href="{{ '/tags/' | url }}{{ tag.path | slugify }}"
        >
          {% tagDot tag.name %}
          {{ tag.name }} ({{ tag.count }})
        </a>
        {% endif %} {% endfor %}
      </nav>
    </div>
    <div class="cn-sidebar-bottom cn-sidebar-wrapper text-sm">
      Made with <a href="https://www.11ty.dev/">11ty</a> by
      <a href="https://zander.wtf">Zander</a>
    </div>
  </div>
</aside>
