.badge {
  display: inline-flex;
  flex-shrink: 0;
  @apply py-0.5 px-2.5 rounded-full bg-zinc-200 text-xs;
  text-decoration: none;
  font-weight: normal;
}

a.badge:hover {
  color: currentColor;
  opacity: 0.6;
}

.tagDot {
  @apply rounded-xl;
  display: inline-block;
  width: 10px;
  height: 10px;
}
