@layer components {
  .noteListItem {
    @apply block md:flex justify-between rounded items-center gap-3;
    transition: all 200ms ease-in-out;
    overflow: hidden;
    padding: var(--space-2xs) var(--space-xs);

    h3 {
      font-size: var(--step-0);
      font-weight: bold;
      padding: var(--space-4xs) 0;
    }
  }
  .noteListItem:hover {
    background-color: var(--bg-note-hover);
  }
  .noteListItem__title {
    min-width: 260px;
    font-weight: bold;
    font-size: var(--step-0);
  }
  .noteListItem__tags {
    @apply flex items-center gap-1 truncate;
  }
  .noteListItem__date {
    @apply truncate;
    font-size: var(--step--2);
    opacity: 0.7;
  }
}
