@layer components {
  .noteListItem {
    @apply p-2 block md:flex justify-between rounded items-center gap-3;
    transition: all 200ms ease-in-out;
    overflow: hidden;
  }
  .noteListItem:hover {
    background-color: var(--bg-note-hover);
  }
  .noteListItem__title {
    min-width: 260px;
    font-weight: bold;
  }
  .noteListItem__tags {
    @apply flex items-center gap-1 truncate;
  }
  .noteListItem__date {
    @apply text-xs truncate;
  }
}
