code[class*='language-'],
pre[class*='language-'] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5em;
  tab-size: 4;
  hyphens: none;
  color: var(--text) !important;
}

code[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-'] ::selection {
  background: var(--bg-code-highlight);
}

:not(pre) > code[class*='language-'] {
  white-space: normal;
  border-radius: 0.2em;
  padding: 0.1em;
}

pre[class*='language-'] {
  overflow: auto;
  position: relative;
}

.language-css > code,
.language-sass > code,
.language-scss > code,
.token.number,
.token.unit {
  color: #fd9170;
}

[class*='language-'] .namespace {
  opacity: 0.7;
}

.token.atrule,
.token.boolean,
.token.constant,
.token.function,
.token.id .token.important,
.token.keyword,
.token.symbol {
  color: theme(colors.sky.600);
}
@media (prefers-color-scheme: dark) {
  .token.atrule,
  .token.boolean,
  .token.constant,
  .token.function,
  .token.id .token.important,
  .token.keyword,
  .token.symbol {
    color: theme(colors.sky.300);
  }
}

.token.id .token.important {
  font-weight: bold;
}

.token.attr-name,
.token.builtin,
.token.class {
  color: theme(colors.amber.600);
}
@media (prefers-color-scheme: dark) {
  .token.attr-name,
  .token.builtin,
  .token.class {
    color: theme(colors.amber.200);
  }
}

.token.attr-value,
.token.attribute,
.token.pseudo-class,
.token.pseudo-element,
.token.string {
  color: theme(colors.emerald.600);
}
@media (prefers-color-scheme: dark) {
  .token.attr-value,
  .token.attribute,
  .token.pseudo-class,
  .token.pseudo-element,
  .token.string {
    color: theme(colors.emerald.200);
  }
}

.token.cdata,
.token.char,
.token.property,
.token.inserted {
  color: #80cbc4;
}

.token.class-name,
.token.hexcode,
.token.regex {
  color: theme(colors.yellow.600);
}
@media (prefers-color-scheme: dark) {
  .token.class-name,
  .token.hexcode,
  .token.regex {
    color: theme(colors.yellow.300);
  }
}

.token.comment,
.token.doctype,
.token.prolog {
  color: theme(colors.zinc.400);
}
@media (prefers-color-scheme: dark) {
  .token.comment,
  .token.doctype,
  .token.prolog {
    color: theme(colors.zinc.500);
  }
}

.token.deleted,
.token.entity,
.token.selector,
.token.tag,
.token.url,
.token.variable {
  color: theme(colors.red.600);
}
@media (prefers-color-scheme: dark) {
  .token.deleted,
  .token.entity,
  .token.selector,
  .token.tag,
  .token.url,
  .token.variable {
    color: theme(colors.red.400);
  }
}

.token.punctuation,
.token.operator {
  color: theme(colors.cyan.600);
}
@media (prefers-color-scheme: dark) {
  .token.punctuation,
  .token.operator {
    color: theme(colors.cyan.300);
  }
}
