@layer components {
  .cn-sidebar {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
  }

  .cn-logo {
    margin-bottom: var(--space-xs);

    a {
      font-weight: 800;
      text-decoration: none;
    }
  }

  .cn-siteDescription {
    line-height: 1.2;
  }

  .cn-sidebar-contentWrapper {
    @apply flex flex-col gap-3 justify-between;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    width: var(--sidebar-width);
    height: 100vh;

    @media screen and (min-width: 768px) {
      position: sticky;
      top: 0;
    }
  }

  .cn-sidebar-wrapper {
    padding: var(--space-s) var(--space-xs);
    @apply flex flex-col gap-3;
  }

  .cn-sidebar-sectionHeading {
    margin: var(--space-2xs) var(--space-3xs) 0;
    font-size: var(--step--2);
    color: var(--color-nav);
  }

  .cn-sidebar-link {
    @apply flex items-center;
    padding: var(--space-3xs) var(--space-2xs);
    font-size: var(--step--2);
    gap: var(--space-2xs);
    border-radius: 0.4rem;
    color: var(--color-nav);
    margin: 1px 0;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

    .tagDot {
      margin-left: 3px;
      margin-right: 3px;
    }

    &.active,
    &:hover {
      background-color: var(--bg-nav-active);
      color: var(--color-nav-active);
    }
  }
}
