<!DOCTYPE html>
<html lang="{{ site.meta.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if title %}{{ title }} | {{ site.meta.title }} {% else %}{{
        site.meta.title
      }}
      {% endif %}
    </title>
    <meta
      name="description"
      content="{% if description %}{{ description }}{% else %}{{
        site.meta.description
      }}{% endif %}"
    />

    <link
      rel="shortcut icon"
      href="{{ '/static/img/favicon.ico' | url }}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" media="all" />
  </head>

  <body>
    <div class="cn-layoutWrapper">
      {% include 'components/sidebar.njk' %}

      <main id="main" class="cn-main">
        <div class="max-w-4xl mx-auto px-4">
          <button class="cn-nav">
            {% heroicon "outline", "menu", "Show menu", { width: 20 } %}
          </button>
          {% include 'components/search.njk' %}
          {{ content | safe }}
          {% include 'components/footer.njk' %}
        </div>
      </main>
    </div>

    <script>
      const burger = document.querySelector('.cn-nav')
      const mainEl = document.querySelector('.cn-main')
      burger.addEventListener('click', () => {
        mainEl.toggleAttribute('open')
        // menu.classList.toggle('navbar__mobile-links--open')
        // let prevState = JSON.parse(burger.getAttribute('aria-expanded'))
        // burger.setAttribute('aria-expanded', !prevState)
      })
      // const menu = document.querySelector('.navbar__mobile-links')
      // const darkToggleButtons = document.querySelectorAll('.dark-toggle')
      // function changeDarkToggleBtnIcon() {
      //   darkToggleButtons.forEach((btn) => {
      //     if (
      //       btn.querySelector('img').src.indexOf('/static/img/moon.svg') !== -1
      //     ) {
      //       btn.querySelector('img').src = "{{ '/static/img/sun.svg' | url }}"
      //     } else {
      //       btn.querySelector('img').src = "{{ '/static/img/moon.svg' | url }}"
      //     }
      //   })
      // }
      // if (
      //   localStorage.prefsDark === 'true' ||
      //   (window.matchMedia &&
      //     window.matchMedia('(prefers-color-scheme: dark)').matches &&
      //     localStorage.prefsDark !== 'false')
      // ) {
      //   document.documentElement.classList.add('dark')
      //   changeDarkToggleBtnIcon()
      // }
      //
    </script>
  </body>
</html>
