---
layout: layouts/base.njk
---

<article class="note mx-auto mt-6">
  <div class="prose prose-zinc dark:prose-invert mb-6">
    <h1>{{ title }}</h1>
  </div>

  <div class="noteMetadata text-xs mt-6 mb-6 flex flex-col gap-2">
    <div class="flex items-center gap-5">
      {% if link %}
      <div class="flex items-center gap-2">
        {% heroicon "outline", "link", "Link", { width: 18 } %}
        <a href="{{ link }}">{{ link }}</a>
      </div>
      {% endif %}
      <div class="flex items-center gap-2">
        {% heroicon "outline", "calendar", "Note date", { width: 18 } %} {%if
        modified %}
        {{ modified | readableDate }}{% else %}{{ created | readableDate }}{%
        endif %}
      </div>
    </div>
    {% if tags.length %}
    <div class="tags flex items-center gap-2">
      {% heroicon "outline", "tag", "Tags", { width: 18 } %} {% for tag in tags
      %} {% tagLink tag %} {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="prose prose-zinc dark:prose-invert">
    <details class="tocWrapper">
      <summary>On this page</summary>
      {{ content | toc | safe }}
    </details>

    {{ content | safe }}

    <hr />

    <a href="{{ '/' | url }}">&larr; Back home</a>
  </div>
</article>
