:root {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    background-color: var(--bg);
  }
}

:root.dark {
  color-scheme: dark;
  background-color: var(--bg);
}

.icon {
  opacity: 0.6;
}
