/* Typography */
/* @link https://utopia.fyi/type/calculator?c=320,17,1.2,1240,20,1.25,10,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--3: clamp(0.62rem, calc(0.61rem + 0.04vw), 0.64rem);
  --step--2: clamp(0.74rem, calc(0.72rem + 0.11vw), 0.8rem);
  --step--1: clamp(0.89rem, calc(0.85rem + 0.2vw), 1rem);
  --step-0: clamp(1.06rem, calc(1rem + 0.33vw), 1.25rem);
  --step-1: clamp(1.28rem, calc(1.18rem + 0.5vw), 1.56rem);
  --step-2: clamp(1.53rem, calc(1.38rem + 0.74vw), 1.95rem);
  --step-3: clamp(1.84rem, calc(1.63rem + 1.05vw), 2.44rem);
  --step-4: clamp(2.2rem, calc(1.91rem + 1.48vw), 3.05rem);
  --step-5: clamp(2.64rem, calc(2.24rem + 2.04vw), 3.82rem);
  --step-6: clamp(3.17rem, calc(2.62rem + 2.78vw), 4.77rem);
  --step-7: clamp(3.81rem, calc(3.06rem + 3.75vw), 5.96rem);
  --step-8: clamp(4.57rem, calc(3.57rem + 5.01vw), 7.45rem);
  --step-9: clamp(5.48rem, calc(4.15rem + 6.66vw), 9.31rem);
  --step-10: clamp(6.58rem, calc(4.82rem + 8.8vw), 11.64rem);
}

/* Spacing */
/* @link https://utopia.fyi/space/calculator?c=320,17,1.2,1240,20,1.25,10,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.81rem, calc(0.77rem + 0.22vw), 0.94rem);
  --space-s: clamp(1.06rem, calc(1rem + 0.33vw), 1.25rem);
  --space-m: clamp(1.63rem, calc(1.54rem + 0.43vw), 1.88rem);
  --space-l: clamp(2.13rem, calc(1.99rem + 0.65vw), 2.5rem);
  --space-xl: clamp(3.19rem, calc(2.99rem + 0.98vw), 3.75rem);
  --space-2xl: clamp(4.25rem, calc(3.99rem + 1.3vw), 5rem);
  --space-3xl: clamp(6.38rem, calc(5.98rem + 1.96vw), 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.65vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.81rem, calc(0.66rem + 0.76vw), 1.25rem);
  --space-s-m: clamp(1.06rem, calc(0.78rem + 1.41vw), 1.88rem);
  --space-m-l: clamp(1.63rem, calc(1.32rem + 1.52vw), 2.5rem);
  --space-l-xl: clamp(2.13rem, calc(1.56rem + 2.83vw), 3.75rem);
  --space-xl-2xl: clamp(3.19rem, calc(2.56rem + 3.15vw), 5rem);
  --space-2xl-3xl: clamp(4.25rem, calc(3.12rem + 5.65vw), 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.06rem, calc(0.56rem + 2.5vw), 2.5rem);
}
