:root {
  --sidebar-width: 250px;
  --bg: theme(colors.zinc.50);
  --bg-main: theme(colors.zinc.100);
  --bg-nav-active: theme(colors.zinc.200);
  --bg-note-hover: theme(colors.zinc.200);
  --border: #3f3f46;
  --f-mono: Comic Code, JetBrains Mono, SF Mono, Menlo, Monaco, Courier New,
    monospace;
  --bg-code: #fff;
  --bg-code-highlight: #f1f1f1;
  --color-accent: 'hsl(334, 86%, 48%)';
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: theme(colors.zinc.700);
    --bg-main: theme(colors.zinc.800);
    --bg-nav-active: theme(colors.zinc.600);
    --bg-note-hover: theme(colors.zinc.600);
    --bg-code: #1e1e1e;
    --bg-code-highlight: #444;
    --border: #3f3f46;
  }
}

.dark {
  --bg: theme(colors.zinc.700);
  --bg-main: theme(colors.zinc.800);
  --bg-nav-active: theme(colors.zinc.600);
  --bg-note-hover: theme(colors.zinc.600);
  --bg-code: #1e1e1e;
  --bg-code-highlight: #444;
  --border: #3f3f46;
}
