---
permalink: 'feed.json'
eleventyExcludeFromCollections: true
metadata:
  title: 'Code Notes'
  home_page_url: 'https://notes.zander.wtf'
  description: ''
  feed_url: ''
  user_comment: 'for algolia search'
  author:
    name: 'Zander Martineau'
    url: 'https://zander.wtf'
---

{% jsonFeed collections.notes, metadata, 0 %}
