---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "language": "en",
    "author": {
      "name": "Zander Martineau"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ site.meta.siteUrl }}" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.meta.title }}</title>
    <link>{{ site.meta.siteUrl }}</link>
    <atom:link href="{{ permalink | absoluteUrl(site.meta.siteUrl) }}" rel="self" type="application/rss+xml" />
    <description>{{ site.meta.description }}</description>
    <language>{{ metadata.language }}</language>
    {%- for note in collections.notes | reverse %} {% if loop.index < 6 %} {%- set
      absolutePostUrl = note.url | absoluteUrl(site.meta.siteUrl) %}
    <item>
      <title>{{ note.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <content:encoded>{{ note.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content:encoded>
      <pubDate>{{ note.date | dateToRfc822 }}</pubDate>
      <dc:creator>{{ metadata.author.name }}</dc:creator>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endif %} {%- endfor %}
  </channel>
</rss>
