---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Code Notes by Zander Martineau",
    "subtitle": "I am writing about my experiences as a naval navel-gazer.",
    "language": "en",
    "url": "https://notez.zander.wtf",
    "author": {
      "name": "Zander Martineau"
    }
  }
}
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" />
  <link href="{{ metadata.url }}" />
  <updated>{{
    collections.notes | getNewestCollectionItemDate | dateToRfc3339
  }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for note in collections.notes | reverse %} {% if loop.index < 6%} {%- set
  absoluteUrl = note.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ note.data.title }}</title>
    <link href="{{ absoluteUrl }}" />
    <updated>{{ note.date | dateToRfc3339 }}</updated>
    <id>{{ absoluteUrl }}</id>
    <content
      xml:lang="{{ metadata.language }}"
      type="html"
      >{{ note.templateContent | htmlToAbsoluteUrls(absoluteUrl) }}</content
    >
  </entry>
  {%- endif %} {%- endfor %}
</feed>
