---
layout: layouts/base.njk
title: Search Page
permalink:
  searcher: /search/
date: git Last Modified
---

<div class="container">
  <div class="prose prose-zinc dark:prose-invert mb-4">
    <h2 class="mb-3">
      You searched for: "{{ eleventy.serverless.query.query }}"
    </h2>
  </div>
  {% include 'components/note-list-search.njk' %}
</div>
