---
layout: layouts/base.njk
title: Search Page
permalink: false
date: 2023-02-09
eleventyExcludeFromCollections: true
---
{# This page is now handled by the Cloudflare Worker at /search/ #}
{# The worker renders the search results server-side #}