---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

{% block content %}

<div class="container">
  <div class="prose lg:prose-xl prose-zinc dark:prose-invert">
    <h1 class="tagHeading flex gap-4 items-center">
      {% tagDot tag %} {{ tag }}
    </h1>
  </div>

  {% set notes = collections[tag] %} {% include 'components/note-list.njk' %}
</div>

{% endblock %}
